<%= render 'pages/flexslider/slides' %>

<section id="about" class="container">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			Our<span class="colored"> Mission</span>
		</h1>
		<p class="light">
			<span style="font-style: italic;font-weight: 400;">“Changing the face of competitive sports through youth exposure”</span>
			<br>
			<br>
			New To The Game, Inc. is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, baseball, tennis, hockey and softball continue to thrive without them.
			<br>
			<br>
			By exposing underserved youth to sports that are lacking their participation, we plan to change the racial demographics of competitive sports at all levels throughout the United States. Subsequently transitioning underexposed youth from virtually nonparticipants to common enthusiasts of many of the sports in which they are currently underrepresented.
			<br>
			<br>
			Providing kids with the opportunity to participate in sports that have grown without a significant representation of them is the reason New To The Game, Inc. was founded. Helping parents with the financial challenges associated with providing athletic opportunities to their children, as well as connecting the wide range of local youth sports to the communities in which these children live is what drives us.
			<br>
			<br>
			Not only are we here for the children in our communities, but we believe in them! We believe the next Serena Williams, Carlos Arroyo, Ken Griffey Jr, Larry Bird, or Tiger Woods is in one of our communities waiting to be exposed to something new. Eager to be... NEW TO THE GAME!
		</p>
	</div>
</section>

<%= render 'pages/quotes/playerquotes' %>

<%= render 'pages/stats/homestats' %>

<section id="features" class="container background41 parallax1">
	<div class="inner t-center">
		<h1 class="header header-style-1 white antialiased normal uppercase oswald">
			<a href="/learn-more" class="quam"><span class="colored">Equalizer of</span> the Month</a>
		</h1>
		<div class="feature-boxes clearfix">
			<div class="feature-box col-sm-3">
				<%= image_tag @equalizer.picture, class: 'img-responsive athlete' %>
			</div>
			<div class="feature-box col-sm-9">
				<div class="feature-text f-left t-left white">
					<h2 class="no-margin normal no-padding">
						<%= @equalizer.name %>
					</h2>
					<p>
						<%= @equalizer.description %>
					</p>
					<br>
					<h4 class="no-margin normal no-padding">
						FACTS
					</h4>
					<ul>
						<% @equalizer.facts.each do |f| %>
							<li><%= f.fact %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
