<section id="page-header" class="background42 parallax big-header">
  <div class="page_header_inner clearfix white">
    <div class="left f-left">
      <h2 class="page_header thin">
        Did You Know?
      </h2>
    </div>
  </div>
</section>

<section class="did-you-know">
  <div class="container-fluid">
    <% @knows.each do |k| %>
      <% if k.id.odd? == true %>
        <div class="row">
          <div class="col-sm-5">
            <div class="box">
              <% unless k.title.blank? %>
                <h3><%= k.title %></h3>
                <hr>
              <% end %>
              <p class="light">
                <%= k.description %>
              </p>
            </div>
          </div>
          <div class="col-sm-7 bkg" style="background-image: url(<%= k.picture(:retina) %>);background-size:cover;background-position: center center;">
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-sm-7 bkg" style="background-image: url(<%= k.picture(:retina) %>);background-size:cover;background-position: center center;">
          </div>
          <div class="col-sm-5">
            <div class="box">
              <h3><%= k.title %></h3>
              <hr>
              <p class="light">
                <%= k.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
