<section id="page-header" class="background43 parallax big-header">
  <div class="page_header_inner clearfix white antialiased">
    <div class="left f-left">
      <h2 class="page_header">
        Partners & Supporters
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note light">
      </h5>
    </div>
  </div>
</section>

<% @supporters.each do |n| %>
  <section id="about" class="container">
  	<div class="inner t-center">
  		<h1 class="header header-style-1 dark normal uppercase oswald">
  			<%= n.title %><span class="colored"> <%= n.name %></span>
  		</h1>
      <% if n.short_description.empty? == false %>
    		<p class="light">
          <%= n.short_description %>
          <br>
          <br>
          <%= n.description %>
    		</p>
      <% elsif %>
        <p class="light">
          <%= n.description %>
        </p>
      <% end %>
      <br>
      <% unless n.has_document == false %>
        <%= link_to "#{n.document_title}", n.document.url, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;', target: '_blank' %>
      <% end %>
  	</div>
  </section>
<% end %>

<!-- BG Video -->
<section class="watch-our-video t-center">
  <!-- Dark BG For Video -->
  <div class="fullscreen z-1 absolute table xdark-bg">
    <!-- Header -->
    <h1 class="header header-style-1 white normal v-center uppercase antialiased oswald t-center">
      new to the game, inc.
    </h1>
  </div>
  <!-- Ful Screen Slider -->
  <div id="video_section" class="fullscreen background34 absolute video xdark-bg">
    <!-- Video -->
    <div id="p1" class="player video-container" data-property="{videoURL:'dtUtJdcnKE8', containment:'#video_section', autoPlay:true, showControls:true, mute:true, startAt:0, opacity:1}"></div>
    <!-- End Video -->
  </div>
</section>
<!-- End BG Video -->
