<div class="fullwidth clearfix">
  <div class="contact_form type-2 white-form">
    <%= form_for @contact, html: {class:'clearfix form oswald normal antialiased', id: 'contact_form'} do |f| %>
      <div class="fullwidth clearfix">
        <div class="f-left">
          <%= f.text_field :name, placeholder: 'Name', id: 'name' %>
        </div>
        <div class="f-right">
          <%= f.text_field :email, placeholder: 'Email', id: 'email' %>
        </div>
      </div>
      <%# Subject %>
      <%= f.text_field :subject, placeholder: 'Subject', id: 'subject' %>
      <%# Message %>
      <%= f.text_area :message, placeholder: 'Message', id: 'message' %>
      <%# Submit %>
      <%= f.submit 'Send', id: 'submit' %>
    <% end %>
  </div>
</div>
