<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>New To The Game</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="parallax">

  <%= render 'layouts/nav' %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application-btm' %>

</body>
</html>
