<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>New To The Game</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <%# Favicons %>
  <%# For iPad with high-resolution Retina display running iOS ≤ 6: %>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3-us-west-2.amazonaws.com/nttg/logo/Favicons/144.png">
  <%# For first- and second-generation iPad: %>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3-us-west-2.amazonaws.com/nttg/logo/Favicons/77.png">
  <link rel="icon" href="https://s3-us-west-2.amazonaws.com/nttg/logo/Favicons/32.png" sizes="32x32">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="parallax">

  <%= render 'layouts/pageloader' %>
  <%= render 'layouts/nav' %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application-btm' %>

</body>
</html>
